@tailwind base;
@tailwind components;
@tailwind utilities;

   
.dynamic-route-wrapper {
  padding : 2rem ;
}

.dynamic-route-wrapper h1 {
  font-family: "Bitter", serif;
  color: #f2f2f2;
  line-height: 1.5rem;
  font-size: 30px;
  font-weight: lighter;
  letter-spacing: 1.3px;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
  .dynamic-route-wrapper h1 {
    font-size: 20px;
  }
}

/* .dynamic-route-wrapper p img {
  width: 100%;
} */
.dynamic-route-wrapper .section-1,
.dynamic-route-wrapper .section-2,
.dynamic-route-wrapper .section-3 {
  padding: 2rem;
  margin: 1rem auto;
  border-radius: 10px;
  max-width: 1300px;
}
/* i maintianed mobile view till tab width*/
@media only screen and (max-width: 768px) {
  .dynamic-route-wrapper .section-1,
  .dynamic-route-wrapper .section-2,
  .dynamic-route-wrapper .section-3 {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem; /* Equivalent to px-4 in Tailwind */
    padding-right: 1rem; /* Equivalent to px-4 in Tailwind */
    padding-top: 2rem; /* Equivalent to py-8 in Tailwind */
    padding-bottom: 2rem; /* Equivalent to py-8 in Tailwind */
  }
}

.dynamic-route-wrapper .section-1 p img,
.dynamic-route-wrapper .section-2 p img,
.dynamic-route-wrapper .section-3 p img {
 -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 768px) {
  .dynamic-route-wrapper .section-1 p img,
  .dynamic-route-wrapper .section-2 p img,
  .dynamic-route-wrapper .section-3 p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: scale-down;
    
   
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  }
}
.dynamic-route-wrapper .section-2 {
  background-color: rgba(232, 117, 2, 0.401);
  margin: 1rem auto;
}

.dynamic-route-wrapper .section-3 {
  background-color: transparent;
  border: 1px solid #ff8400;
  margin: 1rem auto;
}
  
  
 
